.hero-section, .features-icon, .job-text, .link-social, .icon-list, .clients-list, .clients-zagolovog, .link-social-footer, .navigation,
.menu,
.contact-menu-header,
.con-header, .contact-link-header, .bth-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  margin: 0;
}

.hero-button {
  background-color: #2196f3;
  color: #ffffff;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.bth-footer {
  margin-left: 12px;
  width: 200px;
  padding: 10px 32px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-web {
  color: #2196f3;
  font-size: 26px;
  line-height: 1.38;
  font-family: "Raleway";
}

.logo-studio {
  color: #000;
  font-size: 26px;
  line-height: 1.38;
  font-family: "Raleway";
}

.logo-header {
  padding-bottom: 25px;
  padding-top: 24px;
}

.menu {
  margin-left: 93px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.menu-link {
  color: #000;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
  background-image: url(../images/hover.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  padding-bottom: 34px;
}

.contact-link-header:hover,
.contact-link-header:focus {
  color: #2196f3;
}

.contact-link-header:hover .icon-contact {
  fill: #2196f3;
}

.icon-contact {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-contact:hover,
.icon-contact:focus {
  fill: #2196f3;
}

.contact-link-header {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item + .contact-item {
  margin-left: 50px;
}

.aa {
  background-image: url(../icon/mail.svg);
  background-repeat: no-repeat;
}

.contact-link-header {
  font-weight: 500;
  margin-left: 10px;
}

.contact-menu-header {
  margin-left: auto;
}

.logo-web-footer {
  color: #2196f3;
  font-size: 26px;
  line-height: 1.38;
  font-family: "Raleway";
}

.logo-studiow-footer {
  color: #ffffff;
  font-size: 26px;
  line-height: 1.38;
  font-family: "Raleway";
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.post-address {
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 9px;
  line-height: 1.71;
  font-style: normal;
  margin-top: 20px;
}

.contact-link-footer {
  color: #757575;
  font-weight: 400;
  line-height: 1.71;
  margin-bottom: 9px;
  font-style: normal;
  margin-top: 9px;
}

.as {
  display: flex;
}

.ss {
  padding-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.icon-list-footer {
  display: flex;
}

.footer-conteiner:nth-child(n+2) {
  margin-left: 71px;
  margin-top: 11px;
}

.link-icon-list:nth-child(n+2) {
  padding-left: 10px;
}

.link-social-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #44454e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-footer {
  fill: #ffffff;
}

.link-social-footer:hover {
  background-color: #2196f3;
}

.link-social-footer:hover .icon-social {
  fill: #ffffff;
}

.email-input {
  color: #757575;
  background-color: #2f303a;
  border: none;
  outline: 1px solid #757575;
  padding: 15px 205px 15px 15px;
  border-radius: 4px;
}

.ad {
  display: flex;
}

.bth-footer {
  margin-left: 12px;
}

.icon-tg {
  margin-left: 10px;
}

.icon-footer {
  fill: #ffffff;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.bth-close {
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  outline: 1px solid #e5e5e5;
  background-color: #ffffff;
  cursor: pointer;
}

.svg-close {
  position: absolute;
  top: 9px;
  left: 10px;
}

.svg-close:hover {
  fill: #2196f3;
}

.order {
  text-align: center;
  font-size: 20px;
  margin-bottom: 12px;
}

.order-label {
  display: block;
  margin-bottom: 7px;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
}

input[type=name],
input[type=tel],
input[type=email] {
  margin-bottom: 10px;
  cursor: pointer;
}

.order-input:focus,
.order-input:hover {
  outline: 1px solid #2196f3;
}

.order-input {
  border: none;
  width: 448px;
  height: 40px;
  outline: 1px solid #e5e5e5;
  border-radius: 4px;
  padding-left: 40px;
  cursor: pointer;
}

.order-link {
  position: relative;
}

.icon-modal {
  position: absolute;
  top: 32px;
  left: 2%;
}

.order-link:hover .icon-modal {
  fill: #2196f3;
}

.icon-modal:hover,
.icon-modal:focus {
  fill: #2196f3;
}

input[type=text] {
  padding-left: 15px;
  padding-bottom: 80px;
  width: 448px;
  height: 120px;
}

.agreement {
  display: flex;
  margin-top: 25px;
}

.checkbox {
  margin-left: 13px;
  width: 16px;
  height: 15px;
}

.rights {
  padding-left: 7px;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
}

.dogovor {
  text-decoration: underline;
  color: #2196f3;
}

.send {
  border: none;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  margin-left: 120px;
  margin-top: 30px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.clients {
  padding-top: 87px;
  padding-bottom: 101px;
}

.clients-zagolovog {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 50px;
}

.item-clients:nth-child(n+2) {
  margin-left: 30px;
}

.item-clients {
  width: 170px;
  height: 97px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover {
  fill: #2196f3;
}

.item-clients:hover {
  border: 1px solid #2196f3;
}

.team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-h2 {
  text-align: center;
  font-size: 36px;
  padding-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding-bottom: 34px;
}

.item-img {
  width: 270px;
  height: 260px;
}

.team-item-name {
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
}

.team-item-position {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.link-social {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.link-icon-list {
  display: flex;
}

.icon-social {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover {
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover .icon-social {
  fill: #ffffff;
}

.job {
  padding-bottom: 94px;
}

.job-list {
  display: flex;
  justify-content: space-between;
}

.job-item {
  position: relative;
}

.job-text {
  position: absolute;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
  color: #ffffff;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.job-img {
  width: 370px;
}

.job-title {
  text-align: center;
  font-size: 36px;
  padding-bottom: 50px;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  -moz-column-gap: 30px;
       column-gap: 30px;
  display: flex;
}

.features-description {
  color: #757575;
  font-weight: 400;
  line-height: 1.71;
  margin-top: 10px;
}

.features-icon {
  background-color: #f5f4fa;
  padding: 22px 0;
  margin-bottom: 30px;
}

.hero-section {
  max-width: 1600px;
  height: 600px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/project-company.jpg");
  margin: 0 auto;
}

.title {
  color: #ffffff;
  font-weight: 900;
  line-height: 1.36;
  font-size: 44px;
  margin-bottom: 30px;
}

.hero-title {
  width: 696px;
}/*# sourceMappingURL=main.css.map */