$mainfoot-color: #757575;
$webcolor: #2196f3;
$websize: 26px;
$studiocolor: #000;
$studiocolor2: #ffffff;
$backcolor: #2f303a;
$imgcolor: #f5f4fa;
$iconcolor: #afb1b8;
$footericoncolor: #44454e;
$close: #e5e5e5;