.logo-web {
  color: $webcolor;
  font-size: $websize;
  line-height: 1.38;
  font-family: "Raleway";
}

.logo-studio {
  color: $studiocolor;
  font-size: $websize;
  line-height: 1.38;
  font-family: "Raleway";
}





